html {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  display: flex;
}

.head {
  padding: 0.6rem 1rem 0.5rem;
  background-color: rgb(0, 89, 255);
  color: #fff;
  display: grid;
  place-items: center;
}

.title {
  font-size: 1.2rem;
}

.wrapper {
  width: 90%;
}

.operations {
  background-color: #fafafa;
  padding: 1rem;
  display: grid;
  place-items: center;
}

.operations .wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.fields {
  display: flex;
  gap: 0.7rem;
}

.input-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  align-items: flex-start;
}

.input-container input {
  width: 100%;
  border-radius: 4px;
  border: 1px solid #4abdff;
  padding: 0.3rem 0.5rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.act-btn {
  padding: 0.2rem 0.7rem 0.1rem;
  border: 1px solid #fff;
  border-radius: 5px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  background-color: #4abdff;
  color: #fff;
}

.shadow1 {
  position: absolute;
  margin-left: 63% !important; 
}

ol {
  margin: 5px;
  padding-left: 40px;
  padding-top: 10px;
}

ul {
  margin: 5px;
  padding-left: 40px;
  padding-top: 10px;
}